page-home {
    .header-item {
        background: rgb(248, 248, 248);
        .item-inner{
            border: 0 !important;
            background: rgb(248, 248, 248);
        }
    }
    .isToday{
        content: "Today";
        .datetime-text{
            display: none
        }
    }
    .enabled-class{
       border-radius: 4px;
        color: #fff;
        background-color: #488aff;
        font-size: 1.5rem;
    }
    .disabled-class{
        border-radius: 4px;
        color: #4e4e4e;
        background-color: rgba(128, 128, 128, 0.35);
        font-size: 1.5rem;
    }
    .item-ios{
        padding: 0;
    }
    .toolbar-ios ion-title{
        padding: 0;
    }
    .toolbar-title-ios{
        text-align: left;
        padding-left: 10px;
    }
    [col-3]{
        text-align: center;
        input{
            margin-left: 10px;
        }
    }
    .item-ios.item-block .item-inner{
        border-bottom: 0;
    }
}
.item-md{
        padding-right: 16px;
        background-color: rgba(255, 255, 255, 0);
    }

.grid-input-2 {
        :first-child .input-cover{
            left: 25vw;
            width: 33%;
        }
        :last-child .input-cover{
            left: 60vw;
            width: 33%;
        }
    }
.grid-input-4 {
        ion-input.first-input{
            .input-cover{
            left: 25vw;
            width: 18%;
            }
        }
        ion-input.second-input{
            .input-cover{
            left: 44vw;
            width: 18%;
            }
        } 
        ion-input.third-input{
            .input-cover{
            left: 61vw;
            width: 18%;
            }
        } 
        ion-input.forth-input{
            .input-cover{
            left: 78vw;
            width: 18%;
            }
        } 
    }
    .section-class{
        border-radius: 5px;
        box-shadow: 0px 0px 8px #928f90;
        margin: 8px;
        padding-bottom: 10px;
        background: white;
    }
