<ion-header>
  <ion-navbar>
    <ion-item class = "header-item">
            <ion-label><ion-title>{{currentDay}}</ion-title></ion-label>
            <ion-datetime displayFormat="DDDD, DD/MMM/YYYY" [(ngModel)]="exerciseDate" (ionChange) = "ngOnChanges(exerciseDate)"></ion-datetime>
        </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div (tap) = "openModal()">Add</div>
  <ion-item *ngFor = "let exercise of schedule">
    <ion-grid>
      <ion-row>
        <ion-col col-8><h2>{{exercise.name}} ({{exercise.bodyPart}})</h2></ion-col>
        <ion-col col-4> 
        </ion-col>
      </ion-row>
  <ion-row>
    <ion-col col-3 *ngFor = "let set of exercise.sets">
      <div><input type = "number" min = "0" max = "999" [(ngModel)]="set.weight" placeholder="Kg"/></div>
    <ion-badge item-end (tap)="countDecrease(exercise.id, set.id, set.count)" 
    (press)="buttonDisabled(exercise.id, set.id, set.count)" [class] = " set.class ">{{set.count}}</ion-badge></ion-col>
  </ion-row>
    </ion-grid>
</ion-item>
<div> {{name}} </div>
</ion-content>
