<ion-header color="primary">
    <ion-navbar>
        <ion-label>
            <ion-title>History</ion-title>
        </ion-label>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="historyData.length !== 0" class="table">
        <ion-grid>
            <ion-row *ngFor="let history of historyData">
                <ion-col col-12 > <h4>{{history.date | date }} </h4></ion-col>
                <ion-col col-12 > <b>Note:</b> {{history.Note}}</ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>