// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "ionic.globals";
.toolbar-background-ios {
    background: color($colors, primary);
}
.toolbar-title-ios{
    color: color($colors, light);
}
.header-ios{
    color: color($colors, light);
}
.allign-right-btn {
    padding-right: 10px;
    text-align: right;
}
.content-md{
    background: #EFEFEF;
}
.center-align{
    text-align: center;
}
.add-btn {
        font-size: 2.5em;
        color: chocolate;
        text-shadow: 2px 2px 5px rgba(150, 150, 150, 1)
}
.padding-10{
    padding: 10px 10px 0px 10px;
}
.padding-10-left-right{
    padding-left: 10px;
    padding-right: 10px;
}
.table{
    
    ion-row:nth-child(even) {
        background: #e6f3ff;
        border-left: 2px solid #cccccc;
        border-right: 2px solid #cccccc;
        border-bottom: 2px solid #cccccc;
        }
    ion-row:nth-child(odd) {
        background: #FFF;
        border-left: 2px solid #cccccc;
        border-right: 2px solid #cccccc;
        border-bottom: 2px solid #cccccc;
    }
    ion-col:not(:first-child){
        border-left: 1px solid #cccccc;
    }
    .grid{
        padding: 0;
    }
    [col-8] {
        background: #c2f0c2;
    }
    [col-12] {
        border-top: 1px solid #cccccc;
    }
}